extends layout

block content
  h1= title
  p Welcome to #{title}
  
   form(action='/test/submit',method='post')
    label Title
        input(type='text', name='id')
        button(type='submit') login

