extends layout

block content
  .outer-container
    .container
      h1= title
      p Welcome to #{title}
      div
        img(src=("http://placehold.it/150x150"))
      p KV Mechelen
      a(href='/register') register

   

