extends layout

block content
  header
    h1.pagename welkom #{AdminName}

  div.container
    button.btn#Function1 function 1

  div.container
    button.btn#Function2 function 2

  div.container
    button.btn#Function3 function 3

  div.container
    button.btn#Function4 function 4

  div.container
    button.btn#Function5 function 5

  div.container
    button.btn#Function6 function 6

  div.container
    button.btn#Function7 function 7

  div.container
    button.btn#Function8 function 8

  div.container
    button.btn#Function9 function 9


  script(src='/primus/primus.js')
  script(src="/javascripts/socket.js")