extends layout

block content
  div#box(style="background-color: rgb(216, 224, 134"))
    header
      h1.pagename Welkom #{name}
    h1#timertext
    h1#timer_div
    div#functionShow



script(src='/primus/primus.js')
script(src="/javascripts/socketUser.js")