extends layout

block content
  header
    h1.pagename welkom #{AdminName}

  div.containerbtn
    button.btn#Function1 function 1

    button.btn#Function2 function 2

    button.btn#Function3 function 3

    button.btn#Function4 function 4

    button.btn#Function5 function 5

    button.btn#Function6 function 6

    button.btn#Function7 function 7

    button.btn#Function8 function 8

    button.btn#Function9 function 9


  script(src='/primus/primus.js')
  script(src="/javascripts/socket.js")