extends layout

block content
  header
    h1 registreren




  form.register(action='/register',method='post')
    div#naam.input
      label(for='naam') Naam:
      input(type='text', placeholder='Naam' name='naam')
    div#email.input
      label(for='email') Email:
      input(type='email', placeholder='name@email.com' name='email')
    div#age.input
      label(for='age') Leeftijd:
      input(type='number', name='age')
    div#seizoen.input
      p Hebt u een seizoenspas?
      label(for= 'seizoen') ja
      input(type='radio' name='seizoen')
      label(for= 'seizoen') nee
      input(type='radio' name='seizoen')
    button(type='submit') Register
