$appbackground: #fff8f2
$inlogtext: #ffff00

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: $appbackground


a
  color: $inlogtext


.container
  display: flex
  justify-content: center
  flex-flow: column
  align-items: center

  



  

