body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #00B7FF

a
  color: #00B7FF
<<<<<<< HEAD

  background-color: yellow


  

=======
  background-color: yellow

  
>>>>>>> 7b4af93eb8fe22166d01cb4503f8f4f45affa38b
