$appbackground: #fff8f2
$inlogtext: #ffff00
@import "index"

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: $appbackground


a
<<<<<<< HEAD
  color: #00B7FF
  background-color: yellow

=======
  color: $inlogtext


.container
  display: flex
  justify-content: center
  flex-flow: column
  align-items: center


  



  

>>>>>>> 21e08e24492c4e152f027529ad78f67dceccbf40
